<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaAlge - Algen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Algen - Wissenswertes</h1>
    <h2>Regionale Anbauarten</h2>
    <p>{{ algae_info.regionale_anbauarten }}</p>
    <h2>Nachhaltiger Wandel der Ernährung</h2>
    <p>{{ algae_info.nachhaltiger_wandel }}</p>
    <h2>CO2-bewusste Ernährung</h2>
    <p>{{ algae_info.co2_bewusste_ernaehrung }}</p>
    <p><a href="/">Zurück zur Startseite</a></p>
</body>
</html>
